.container {
    text-align: center;
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    gap: 20px;
}

.create-block-title {
    font-size: 30px;
    font-weight: 600;
}

.input-block > input {
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
}

.create-button{
    padding: 15px 30px;
    border: none;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.message-block {
    margin: 20px;
    font-size: 25px;
    font-weight: 600;
}

.message-block.success {
    color: lightgreen;
}
.message-block.error {
    color: red;
}

.hidden {
    display: none;
}
